*.o
src/compare
src/dblf84/.deps/
src/dblf84/.dirstamp
src/ftagtest
src/genpair
src/homolog
*.a
src/opttest
src/score
src/simulate
src/smtest
src/tabletest
src/tmtest
src/train
src/traintest
ar-lib
autom4te.cache/output.2
autom4te.cache/output.3
autom4te.cache/traces.2
autom4te.cache/traces.3
compile
src/.deps/
src/align
src/axtsample
src/axtscan
src/cmtest
